.checkout-items{font-size:1.2em;height:auto;
    .button-container{min-width: fit-content;padding:0 20px;background: none;color:gray;}
      
      .item-details{margin-top: 20px;padding-bottom:20px;border-bottom:2px solid gray;}
      .item-details-header,
      
      
      .item-details > span img{max-width: 80%;}
      .decreaseQ,.increaseQ{
        cursor: pointer;
        display:inline-block;
        font-size: 2.5em;
        line-height: 0;
        transform: translateY(6px);
      }
      .checkout-items img {
          width: 10%;
          height: auto;
      }
      
    }